.featured-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-template-areas: 
    "gold silver"
    "gold normal";     */
    gap: 1rem;
}

.featured-product-item {
    margin: 1rem 0;
}

.featured-product {
    border: 1px solid black;
    text-align: center;
    border-radius: 12px;
    opacity: 0.5;
    transition: 1.2s;
}

.featured-product:hover {
    opacity: 1;
}

.featured-products p, .featured-products h3 {
    width: auto;
    color: rgb(0, 0, 0);
    font-size: 120%;
}

#gold {
    grid-row: 1 / span 2;
    background-image: url("./gold.jpeg");
    background-position: center;
    background-size: cover;
    /* grid-area: gold; */
    align-content: center;
}

#silver {
    background-image: url("./silver.jpeg");
    background-size: cover;
    /* grid-area: silver; */
}

#normal {
    background-color: beige;
    /* grid-area: normal; */
}

@media screen and (max-width: 768px) {
    .featured-products {
        grid-template-columns: 1fr;
    }
}